---
import Layout from "../layouts/Layout.astro";
import Navigation from "../layouts/Navigation.astro";
import Footer from "../layouts/Footer.astro";

const { cookies, redirect } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return redirect("/dashboard");
}
---

<Layout title="Restablecer contrase침a">
  <Navigation />
  <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
      <h1 class="text-2xl font-bold text-center text-gray-800">Reestablecer contrase침a</h1>
      <form action="/api/auth/forgot-password" method="post" class="mt-6 space-y-4">
        <!-- Email Field -->
        <div>
          <label for="email" class="block text-sm font-medium text-gray-700">Correo electr칩nico</label>
          <input 
            type="email" 
            name="email" 
            id="email" 
            class="w-full mt-1 px-4 py-2 border rounded-md shadow-sm focus:ring-red-500 focus:border-red-500 border-gray-300"
            required
          />
        </div>
        <!-- Password Field -->

        <!-- Submit Button -->
        <button 
          type="submit" 
          class="w-full bg-red-500 text-white font-medium py-2 px-4 rounded-md shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2"
        >
        Reestablecer contrase침a
      </button>
      </form>
    </div>
  </div>
  <Footer />
</Layout>
