---
import Layout from '../layouts/Layout.astro';
import Navigation from '../layouts/Navigation.astro';
import Hero from '../layouts/Hero.astro'
import About from '../layouts/About.astro'
import ComingSoon from '../layouts/ComingSoon.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title="Ruta Chicoloapan">
	<Navigation/>
	<main class="w-[1080px] my-0 mx-auto">
		<Hero/>
	</main>
	<section class="w-[1080px] my-0 mx-auto">
		<About/>
		<ComingSoon/>
	</section>
	<Footer/>
</Layout>