---
import Layout from "../layouts/Layout.astro";

const { url, redirect } = Astro;

const searchParams = new URL(url).searchParams;
const accessToken = searchParams.get("access_token");
console.log(accessToken)
if (!accessToken) {
  throw new Error("No se encontró el token de restauración.");
}
---

<Layout title="Restaurar contraseña">
  <div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white shadow-lg rounded-lg p-8 w-full max-w-md">
      <h1 class="text-2xl font-bold text-center text-gray-800">Restaurar contraseña</h1>
      <p class="text-sm text-center text-gray-600 mt-2">
        Ingresa tu nueva contraseña.
      </p>
      <form action="/api/auth/reset-password" method="post" class="mt-6 space-y-4">
        <input type="hidden" name="access_token" value={accessToken} />
        <div>
          <label for="password" class="block text-sm font-medium text-gray-700">Nueva contraseña</label>
          <input 
            type="password" 
            name="password" 
            id="password" 
            class="w-full mt-1 px-4 py-2 border rounded-md shadow-sm focus:ring-red-500 focus:border-red-500 border-gray-300"
            required
          />
        </div>
        <button 
          type="submit" 
          class="w-full bg-red-500 text-white font-medium py-2 px-4 rounded-md shadow hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-400 focus:ring-offset-2"
        >
          Restaurar contraseña
        </button>
      </form>
    </div>
  </div>
</Layout>
