---
import Layout from '../layouts/Layout.astro';
import Navigation from '../layouts/Navigation.astro';
---

<Layout title="Ruta Chicoloapan">
	<Navigation/>
	<main class="w-[1080px] my-0 mx-auto">
		
	</main>
</Layout>