<footer class="flex justify-evenly bg-black py-8 px-4 text-white mt-4">
    <div>
        <span class="font-bold underline decoration-4 decoration-red-500">
            <a href="/">RUTA CHICOLOAPAN</a>
        </span>
    </div>

    <div class="text-gray-400 text-sm">
        &copy; 2024 Ruta Chicoloapan. Todos los derechos reservados.
    </div>
</footer>
