---
import { Image } from "astro:assets";
import logo from "../img/logo.png" 
---
<header class="flex justify-evenly p-8">
    <div class="grid place-items-center">
        <h1 class="text-6xl font-bold">Bienvenido a...</h1>
    </div>
    <div>
        <Image src={logo} alt="Logotipo de Ruta Chicoloapan" />
    </div>
</header>